// Import abstracts
@import "../abstracts/_abstracts.scss";

// Styles
@mixin header-with-submenu {
  .mobile-menu-open {
    .header-sub-nav {
      display: none;
    }
  }

  .header-sub-nav {
    align-items: center;
    background-color: $color-black;
    column-gap: fix-font-size-hack(2em);
    display: flex;
    min-height: 36px;

    .container {
      display: flex;
      padding-bottom: 0;
      padding-top: 0;
      width: 100%;
    }

    .menu {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    .menu-item {
      display: flex;

      & + .menu-item {
        a.menu-link {
          border-top: 1px solid $color-white;
        }
      }
    }

    a.menu-link {
      align-items: center;
      color: $color-white;
      display: flex;
      flex-grow: 1;
      font-size: fix-font-size-hack(0.875em);
      min-height: 36px;
      position: relative;
      text-decoration: none;

      &:before,
      &:after {
        background-color: $color-black;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }

      &:hover,
      &:focus {
        background-color: $color-white;
        color: $color-black;

        &:before,
        &:after {
          background-color: $color-white;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .header-sub-nav-container {
    @include property-with-fluid-value(
      "column-gap",
      32px,
      64px,
      1280px,
      1600px
    );
  }

  .header-sub-nav-top {
    align-items: center;
    column-gap: fix-font-size-hack(2em);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-sub-nav-top-wrapper {
    column-gap: fix-font-size-hack(2em);
    justify-content: space-between;
  }

  .header-sub-nav-main {
    background-color: $color-black;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;

    &.open {
      border-top: 1px solid $color-white;
      display: flex;
    }

    .container {
      padding-bottom: fix-font-size-hack(0.25em);
      padding-top: fix-font-size-hack(0.25em);
    }
  }

  a.header-sub-nav-title {
    @include property-with-fluid-value("font-size", 14px, 16px, 1280px, 1600px);
    color: $color-white;
    font-weight: 700;
    margin: 0 -10px;
    padding: 0.438em 10px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      outline-color: $color-white;
      outline-offset: -6px;
      outline-style: dotted;
      outline-width: 1px;
    }
  }

  .header-sub-nav-button {
    align-items: center;
    background-color: $color-black;
    border-bottom: none;
    border-left: 1px $color-white solid;
    border-right: 1px $color-white solid;
    border-top: none;
    cursor: pointer;
    display: flex;
    flex: 0 0 3em;
    justify-content: center;
    min-height: 36px;

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.811' height='7.797' viewBox='0 0 13.811 7.797'%3E%3Cpath d='M8.268,16.029a.375.375,0,0,1,.528,0l5.729,5.729,5.733-5.729a.375.375,0,0,1,.528.528l-5.995,6a.367.367,0,0,1-.528,0l-5.995-6A.375.375,0,0,1,8.268,16.029Z' transform='translate(-7.607 -15.368)' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      display: block;
      filter: invert(1);
      height: 8px;
      width: 16px;
    }

    &:hover,
    &:focus {
      background-color: $color-white;

      &:before {
        filter: none;
      }
    }

    &:focus {
      outline: none;
    }

    &[aria-expanded="true"] {
      &:before {
        transform: scaleY(-1);
      }
    }
  }

  @if $website-container-type == "fluid" {
    .header-sub-nav {
      a.menu-link {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    @if $website-container-type == "fluid" {
      .header-sub-nav {
        a.menu-link {
          padding-left: 3px;
          padding-right: 3px;
        }
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    @if $website-container-type == "fluid" {
      .header-sub-nav {
        a.menu-link {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }

  @media (min-width: $breakpoint-xl) {
    @if $website-container-type == "fluid" {
      .header-sub-nav {
        a.menu-link {
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }

    @if $header-container-type == "stretch" {
      @if $website-container-type == "fixed" {
        .header-sub-nav {
          .container {
            padding-left: $website-container-base-padding +
              $website-container-step-padding *
              4;
            padding-right: $website-container-base-padding +
              $website-container-step-padding *
              4;
          }
        }
      }
    }
  }

  .header-sub-nav-main {
    .container {
      @include property-with-fluid-value(
        "padding-left",
        12px,
        16px,
        1280px,
        1600px
      );
      @include property-with-fluid-value(
        "padding-right",
        12px,
        16px,
        1280px,
        1600px
      );
    }
  }

  @media (min-width: 1280px) {
    .mobile-menu-open {
      .header-sub-nav {
        display: flex;
      }
    }

    .header-sub-nav {
      .menu {
        flex-direction: row;
        justify-content: initial;
      }

      .menu-item {
        & + .menu-item {
          a.menu-link {
            border-top: 0;
          }
        }
      }

      a.menu-link {
        &:before,
        &:after {
          display: none;
        }
      }
    }

    .header-sub-nav-top {
      width: auto;
    }

    .header-sub-nav-main {
      display: flex;
      left: initial;
      overflow: initial;
      position: initial;
      right: initial;
      top: initial;

      &.open {
        border-top: 0;
      }
    }

    .header-sub-nav-button {
      display: none;
    }

    @if $website-container-type == "fluid" {
      .header-sub-nav {
        a.menu-link {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    @if $header-container-type == "stretched" {
      .header-sub-nav {
        & > .container {
          max-width: none;
        }
      }

      .header-sub-nav {
        a.menu-link {
          text-align: center;
        }
      }

      @if $website-container-type == "fixed" {
        .header-sub-nav {
          & > .container {
            padding-left: $website-container-base-padding +
              $website-container-step-padding *
              4;
            padding-right: $website-container-base-padding +
              $website-container-step-padding *
              4;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-xxl) {
    @if $header-container-type == "stretch" {
      @if $website-container-type == "fixed" {
        .header-sub-nav {
          & > .container {
            padding-left: $website-container-base-padding +
              $website-container-step-padding *
              5;
            padding-right: $website-container-base-padding +
              $website-container-step-padding *
              5;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-sl) {
    @if $header-container-type == "stretch" {
      @if $website-container-type == "fixed" {
        .header-sub-nav {
          & > .container {
            padding-left: $website-container-base-padding +
              $website-container-step-padding *
              6;
            padding-right: $website-container-base-padding +
              $website-container-step-padding *
              6;
          }
        }
      }
    }
  }
}
