/**
 * Header
 */

// Import abstracts
@import "../abstracts/_abstracts.scss";

// Styles

.mobile-menu-open {
  overflow: hidden;

  // @TODO: Specific style to change if --university vs --unit
  // --university: 6.25em
  // --unit: 8.75em
  padding-top: 8.75em;

  .header {
    background-color: $color-black;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;

    // Extremely important animation fix when mobile menu overflows
    transition-delay: 0.4s;
    transition-property: background-color;

    &:after {
      width: 100%;
    }

    .university-logo-fill {
      fill: $color-white;
    }

    &-container {
      background-color: initial;
    }

    &-menu-trigger {
      &:before,
      &:after {
        background-color: $color-white;
      }
      & > .header-menu-trigger-midbar {
        &:before,
        &:after {
          background-color: $color-white;
        }
      }
    }

    &-search-trigger {
      i {
        transition: filter 0.5s ease;
        filter: invert(1);
      }
      &:hover,
      &:active {
        background-color: $color-white;
        i {
          transition: none;
          filter: none;
        }
      }
    }

    &-mobile-menu {
      transform: translateX(0);
    }
  }

  a.header-title,
  a.header-university-link,
  a.header-unit-link {
    color: $color-white;
  }

  .header-top-brand .divider {
    border-left: 1px solid $color-white;
  }
}

// Header should always have a total height of 8.75em (without submenu)
.header {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
  z-index: 8888;

  &:before,
  &:after {
    content: "";
    display: block;
  }

  &:before {
    background-image: linear-gradient(
      90deg,
      $color-ul-red,
      $color-ul-red 80%,
      $color-ul-yellow 80%,
      $color-ul-yellow
    );
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: 100% 8px;
    height: 8px;
    position: relative;
    z-index: 1;
  }

  &:after {
    background-color: $color-black;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: width 0.4s ease;
    width: 0;
  }
  // @TODO: Review this
  .ul-link--in-language-nav {
    &:not(:first-child) {
      border-top: 1px solid $color-white;
    }

    a {
      box-sizing: border-box;
      color: $color-white;
      display: block;
      font-size: fix-font-size-hack(0.875rem);
      padding: fix-font-size-hack(0.591rem);
      text-decoration: none;

      &:hover {
        background-color: $color-white;
        color: $color-black;
      }

      &:focus,
      &:focus-visible {
        background-color: $color-white;
        color: $color-black;
        outline-offset: 2px;
        outline: 1px $color-black solid;
      }

      &:active {
        background-color: $color-white;
        color: $color-black;
        text-decoration: underline;
      }
    }
  }

  .container {
    padding-bottom: fix-font-size-hack(1rem);
    padding-top: fix-font-size-hack(1rem);
  }
}

// Hide any non-mobile interface elements
.header-top-meta,
.header-main-nav,
.header-secondary-nav,
.header-language-switcher {
  display: none;
}

.header-container {
  background-color: $color-white;
  position: relative;
  z-index: 150;
}

.header-top,
.header-main {
  align-items: center;
  display: flex;
}

// Set height to avoid any jump if either small logo or meta nav isn't present
.header-top-brand,
.header-top-meta {
  min-height: 1.5em;
  margin-bottom: 1em;
}

.header-top-brand {
  display: flex;

  @if $better-header-design {
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  @if $font-size-hack {
    font-size: fix-font-size-hack(1em);
  }

  .divider {
    @if $better-header-design {
      display: none;
    }
    border-left: 1px solid $color-black;
    margin: 0 0.5em;
    position: relative;
    top: -1px;
  }
}

.header-top-meta {
  margin-left: auto;
}

.header-main {
  column-gap: 2em;
  min-height: fix-font-size-hack(3.75em);
}

.header-main-brand {
  flex: 0 0 auto;
}

.header-main-utilities {
  margin-left: auto;
}

.header-tools {
  display: flex;
}

.header-search {
  animation: slide-out-top 0.25s;
  display: none;
  background: $color-black;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  // @TODO: Implement z-index function for all z-index
  z-index: 10;

  &.open {
    animation: slide-in-top 0.25s;
    display: block;
    transform: none;
  }

  &:not(.open).remove {
    display: block;
    animation: slide-out-top 0.25s;
  }

  form {
    align-items: stretch;
    color: $color-white;
    display: flex;

    input.champ-recherche {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      background-color: $color-white;
      border-radius: 0;
      border: 0;
      flex: 1;
      font-size: fix-font-size-hack(1rem);
      margin: 0;
      padding: 11px 15px;

      &:focus {
        outline: none;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    button {
      background-color: $color-white;
      padding: 18px;
      border: none;
      line-height: 1em;
      display: inline-block;
      &:hover {
        background-color: $color-black;
        i {
          filter: invert(1);
        }
      }
    }
    label {
      margin-bottom: fix-font-size-hack(0.3rem);
    }
  }
}

.header-search-trigger {
  background: none;
  border: 0;
  color: $color-black;
  cursor: pointer;
  font-family: var(--ul-font);
  font-size: fix-font-size-hack(1rem);
  line-height: fix-font-size-hack(1rem);
  padding: fix-font-size-hack(0.938rem) fix-font-size-hack(1rem);
  position: relative;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s ease;
    i {
      transition: background-position 0.5s ease;
    }
  }

  &:hover,
  &:active {
    background-color: $color-black;
    i {
      filter: invert(1);
    }
  }

  &[aria-expanded="true"] {
    background-color: $color-black;
    i {
      filter: invert(1) !important;
      background-position: top left;
    }
  }

  &:active,
  &[aria-expanded="true"] {
    text-decoration: underline;
  }
}

.header-language-switcher {
  position: relative;

  &--mobile {
    text-transform: uppercase;

    .menu {
      display: flex;
      font-size: fix-font-size-hack(1.25em);
      gap: fix-font-size-hack(0.8em);
    }

    .menu-link {
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .current-language {
      color: $color-white;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.header-language-switcher-list {
  background-color: $color-black;
  border-top: 1px solid #fff;
  border: 1px solid $color-black;
  color: $color-white;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 100%;
  z-index: 1;
}

.header-language-switcher-trigger {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: $color-black;
  cursor: pointer;
  font-family: var(--ul-font);
  font-size: fix-font-size-hack(0.875rem);
  font-weight: 600;
  line-height: fix-font-size-hack(1rem);
  padding: fix-font-size-hack(1rem) fix-font-size-hack(0.591rem);
  text-transform: uppercase;

  &:after {
    background-image: var(--img-dropdown-arrow);
    background-size: 13px 7px;
    content: "";
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    width: 13px;
  }

  &:hover,
  &:active,
  &[aria-expanded="true"] {
    background-color: $color-black;
    color: $color-white;

    &:after {
      filter: invert(1);
    }
  }

  &[aria-expanded="true"]:after {
    transform: scaleY(-1);
  }
}

.header-menu-trigger {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  display: inline-block;
  height: 48px;
  padding: 16px;
  position: relative;
  width: 48px;

  &:before {
    background: $color-black;
    border-radius: 2px;
    content: "";
    height: 2px;
    height: 3px;
    left: 16px;
    position: absolute;
    right: 16px;
    top: 16px;

    @media (prefers-reduced-motion: no-preference) {
      transition: left 0.3s ease;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    background-color: $color-black;
    height: 2px;
    border-radius: 2px;

    @media (prefers-reduced-motion: no-preference) {
      transition: right 0.3s ease;
    }
  }

  &-midbar {
    &:before {
      background-color: $color-black;
      border-radius: 2px;
      content: "";
      height: 2px;
      left: 16px;
      position: absolute;
      right: 16px;
      top: 23px;

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.3s ease;
      }
    }

    &:after {
      background-color: $color-black;
      border-radius: 2px;
      content: "";
      height: 2px;
      left: 16px;
      position: absolute;
      right: 16px;
      top: 23px;

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.3s ease;
      }
    }
  }

  &:hover,
  &:active {
    background-color: $color-black;

    &:before,
    &:after {
      background-color: $color-white;
    }

    .header-menu-trigger-midbar {
      &:before,
      &:after {
        background-color: $color-white;
      }
    }
  }

  &[aria-expanded="true"] {
    transition: background-color 0.5s ease;

    &:before,
    &:after {
      transition: background-color 0.5s ease;
    }

    @media (prefers-reduced-motion: no-preference) {
      &:before {
        transition: left 0.3s ease, background-color 0.3s ease;
      }
      &:before {
        transition: right 0.3s ease, background-color 0.3s ease;
      }
    }

    .header-menu-trigger-midbar {
      &:before,
      &:after {
        transition: background-color 0.5s ease;

        @media (prefers-reduced-motion: no-preference) {
          transition: transform 0.3s ease, background-color 0.3s ease;
        }
      }
    }

    &:before {
      left: 32px;
    }

    &:after {
      right: 32px;
    }

    .header-menu-trigger-midbar {
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }

    &:hover,
    &:active {
      background-color: $color-white;

      &:before,
      &:after {
        background-color: $color-black;
      }

      .header-menu-trigger-midbar {
        &:before,
        &:after {
          background-color: $color-black;
        }
      }
    }
  }
}

.header-mobile-menu {
  animation-duration: 0.4s;
  animation-name: slide-out-left;
  animation-timing-function: ease;
  background-color: $color-black;
  display: none;
  position: relative;
  transform: translateX(-100vw);
  z-index: 1;

  &.open {
    animation-name: slide-in-left;
    display: block;
  }

  .header-main-nav,
  .header-secondary-nav {
    display: block;
  }
}

// Main nav is present twice, once for each modifier: mobile, desktop
.header-main-nav {
  // Generic styles applicable to mobile and desktop
  .menu {
    display: flex;
  }

  .menu-item {
    // align-items: center;
    display: flex;
    padding-top: fix-font-size-hack(0.3rem);
  }

  .menu-link {
    background-image: linear-gradient(90deg, $color-ul-red, $color-ul-red);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0 4px;
    padding-bottom: fix-font-size-hack(0.3rem);
    text-align: center;
    text-decoration: none;
    transition: background-size 0.4s;

    &:hover,
    &:focus-visible {
      background-size: 100% 4px;
      background-position-x: left;
    }

    &:focus-visible {
      outline-offset: 10px;
    }

    &[aria-current="page"] {
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 100% 4px;
    }
  }

  // Main nav - Mobile specific layout and color
  &--mobile {
    margin-bottom: fix-font-size-hack(2em);

    .menu {
      flex-direction: column;
      gap: fix-font-size-hack(0.688em);
    }

    .menu-link {
      color: $color-white;
      font-size: fix-font-size-hack(1.5em);
      line-height: 1.2;

      &[aria-current="page"] {
        background-image: linear-gradient(90deg, $color-white, $color-white);
      }
    }
  }

  // Main nav - Desktop specific layout and color
  &--desktop {
    .menu {
      gap: fix-font-size-hack(2em);
    }

    .menu-link {
      color: $color-black;
      font-size: fix-font-size-hack(1em);
      font-weight: 700;

      &[aria-current="page"] {
        background-image: linear-gradient(90deg, $color-black, $color-black);
      }
    }
  }
}

// Secondary nav is present twice, once for each modifier: mobile, desktop
.header-secondary-nav {
  // Generic styles applicable to mobile and desktop
  .menu {
    display: flex;
  }

  .menu-link {
    text-decoration: none;

    &:hover,
    &:focus-visible,
    &[aria-current="page"] {
      text-decoration: underline;
    }

    &:focus-visible {
      outline-offset: 5px;
    }

    &[href]:hover {
      text-decoration: underline;
    }

    &[href]:focus-visible {
      outline-offset: 3px;
    }
  }

  // Secondary nav - Mobile specific layout and color
  &--mobile {
    margin-bottom: fix-font-size-hack(2em);

    .menu {
      flex-direction: column;
      gap: fix-font-size-hack(0.75em);
    }

    .menu-link {
      color: $color-white;
      font-size: fix-font-size-hack(1.25em);
    }
  }

  // Secondary nav - Desktop specific layout and color
  &--desktop {
    .menu {
      gap: fix-font-size-hack(1.5em);
      justify-content: flex-end;
    }

    .menu-link {
      color: $color-black;
      font-size: fix-font-size-hack(0.875em);
      line-height: 1.2;
    }
  }
}

a.header-title,
a.header-university-link,
a.header-unit-link {
  transition: color 0.5s ease;
}

.header-top-brand .divider {
  transition: border-left 0.5s ease;
}

a.header-title {
  color: $color-black;
  display: block;
  font-size: fix-font-size-hack(1.375em);
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a.header-university-link,
a.header-unit-link {
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a.header-university-link {
  align-items: center;
  display: flex;
  white-space: nowrap;
  @if $better-header-design {
    margin-bottom: 0.25em;
  }
}

a.header-unit-link {
  @if $better-header-design {
    text-align: center;
  }
}

.header {
  .university-logo-simplified {
    display: block;
    margin-right: 0.625em;
    width: 19px;
  }

  .university-logo {
    display: block;
    width: 128px;
  }

  .university-logo-fill {
    transition: fill 0.4s ease;
  }
}

@media (min-width: $breakpoint-sm) {
  @if $better-header-design {
    .header-top-brand {
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-start;

      .divider {
        display: inline;
      }
    }

    a.header-university-link {
      margin-bottom: 0;
    }
    a.header-unit-link {
      text-align: left;
    }
  }
}

@if not $menu-is-always-mobile {
  @media (min-width: 1280px) {
    // Main desktop layout, when mobile menu was open
    .mobile-menu-open {
      overflow: initial;
      padding-top: 0;

      .header {
        background-color: $color-white;
        height: initial;
        left: initial;
        overflow-y: initial;
        position: relative;
        top: initial;
        transition-delay: initial;

        &:after {
          display: none;
        }

        .university-logo-fill {
          fill: $color-black;
          transition: none;
        }
      }

      .header-menu-trigger {
        &:before,
        &:after {
          background-color: $color-black;
        }
        & > .header-menu-trigger-midbar {
          &:before,
          &:after {
            background-color: $color-black;
          }
        }
      }

      .header-search-trigger {
        i {
          transition: filter 0.5s ease;
          filter: none;
        }
        &:hover,
        &:active {
          background-color: $color-black;
          i {
            transition: none;
            filter: invert(1);
          }
        }
      }

      a.header-title,
      a.header-university-link,
      a.header-unit-link {
        color: unset;
      }

      .header-top-brand .divider {
        border-left: 1px solid $color-black;
      }
    }

    // Hide mobile-only elements
    .header-menu-trigger,
    .header-mobile-menu.open {
      display: none;
    }

    // Show main UI elements
    .header-top {
      justify-content: flex-end;
    }

    .header-top-meta,
    .header-main-nav,
    .header-secondary-nav,
    .header-language-switcher {
      display: block;
    }

    a.header-title {
      font-size: fix-font-size-hack(1.5em);
    }
  }
}

// Animations and transition mediaqueries
// Override motion sickness-inducing animations
@media (prefers-reduced-motion: reduce) {
  .header {
    &:after {
      transition: none;
    }
  }
}

// Keyframes
@keyframes slide-in-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@import "./_header-with-submenu.scss";
@if $header-with-submenu {
  @include header-with-submenu();
}
