/**
 * The website max-width should be 1600px but can be changed to fit existing website.
 * A padding is used to insure good spacing. To give more breathing room, the padding is increasing for bigger displays.
 * The same ".container" selector should be used in all sections (header/footer/content) to insure uniformity.
 */

// Import abstracts
@import "../abstracts/_abstracts.scss";

// Local variables
// On mobile, the base padding on each side is 1em (16px).
$website-container-base-padding: fix-font-size-hack(1em);

// The we a step that is increasing for each breakpoint.
// The step is equal to half of 1.25em (20px) of each side.
$website-container-step-padding: fix-font-size-hack(calc(1.25em / 2));

// Styles
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $website-container-max-width;
  @if $website-container-type == "fixed" {
  }
  @if $website-container-type == "fluid" {
    padding-left: $website-container-base-padding +
      ($website-container-step-padding * 0);
    padding-right: $website-container-base-padding +
      ($website-container-step-padding * 0);
  }
}

.container-fullwidth {
  max-width: none;
}

@media (min-width: $breakpoint-sm) {
  .container {
    @if $website-container-type == "fixed" {
    }
    @if $website-container-type == "fluid" {
      padding-left: $website-container-base-padding +
        ($website-container-step-padding * 1);
      padding-right: $website-container-base-padding +
        ($website-container-step-padding * 1);
    }
  }
}

@media (min-width: $breakpoint-md) {
  .container {
    @if $website-container-type == "fixed" {
    }
    @if $website-container-type == "fluid" {
      padding-left: $website-container-base-padding +
        ($website-container-step-padding * 2);
      padding-right: $website-container-base-padding +
        ($website-container-step-padding * 2);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    @if $website-container-type == "fixed" {
    }
    @if $website-container-type == "fluid" {
      padding-left: $website-container-base-padding +
        ($website-container-step-padding * 3);
      padding-right: $website-container-base-padding +
        ($website-container-step-padding * 3);
    }
  }
}

@if $website-container-max-width > $breakpoint-xl {
  @media (min-width: $breakpoint-xl) {
    .container {
      @if $website-container-type == "fixed" {
      }
      @if $website-container-type == "fluid" {
        padding-left: $website-container-base-padding +
          ($website-container-step-padding * 4);
        padding-right: $website-container-base-padding +
          ($website-container-step-padding * 4);
      }
    }
  }
}

@if $website-container-max-width > $breakpoint-xxl {
  @media (min-width: $breakpoint-xxl) {
    .container {
      @if $website-container-type == "fixed" {
      }
      @if $website-container-type == "fluid" {
        padding-left: $website-container-base-padding +
          ($website-container-step-padding * 5);
        padding-right: $website-container-base-padding +
          ($website-container-step-padding * 5);
      }
    }
  }
}

@if $website-container-max-width > $breakpoint-sl {
  @media (min-width: $breakpoint-sl) {
    .container {
      @if $website-container-type == "fixed" {
      }
      @if $website-container-type == "fluid" {
        padding-left: $website-container-base-padding +
          ($website-container-step-padding * 6);
        padding-right: $website-container-base-padding +
          ($website-container-step-padding * 6);
      }
    }
  }
}
