// Mixin gérant les largeurs maximales de contenu. Permet d'avoir un parent pleine largeur (par exemple une couleur d'arrière-plan)
@mixin ul-container {
  margin: 0 auto;
  width: 100%;
  @media (min-width: $ul-padding-threshold) {
    max-width: $ul-desktop-large-width;
  }
}

// Mixin gérant le "coussin" entre le contenu et les limites du navigateur en fonction de la taille de ce dernier.
@mixin ul-paddings {
  padding-left: ul-scale-units(4rem);
  padding-right: ul-scale-units(4rem);
  @media (min-width: $ul-padding-threshold) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: $ul-tablet-width) {
    padding-left: ul-scale-units(1.5rem);
    padding-right: ul-scale-units(1.5rem);
  }
  @media (max-width: $ul-mobile-width) {
    padding-left: ul-scale-units(4rem);
    padding-right: ul-scale-units(4rem);
  }
  @media (max-width: $ul-tablet-small) {
    padding-left: ul-scale-units(1.5rem);
    padding-right: ul-scale-units(1.5rem);
  }
}

// Version spécifique au pied de page pour prendre en compte l'icône de carte
@mixin ul-footer-paddings {
  padding-right: ul-scale-units(4rem);
  padding-left: calc(ul-scale-units(4rem) + 25px);
  @media (min-width: $ul-padding-threshold) {
    padding-left: 25px;
    padding-right: 0;
  }
  @media (max-width: $ul-tablet-width) {
    padding-right: ul-scale-units(1.5rem);
    padding-left: calc(ul-scale-units(1.5rem) + 25px);
  }
  @media (max-width: $ul-mobile-width) {
    padding-right: ul-scale-units(4rem);
    padding-left: calc(ul-scale-units(4rem) + 25px);
  }
  @media (max-width: $ul-tablet-small) {
    padding-right: ul-scale-units(1.5rem);
    padding-left: calc(ul-scale-units(1.5rem) + 25px);
  }
}
