// Importation du fichier global
@import "./abstracts/_global_abstracts.scss";

// Styles
.ul-header {
  .ul-header-ul-link-holder {
    grid-area: ecu;
    display: flex;
    &:before {
      display: inline-block;
      content: "";
      flex: 0 0 19px;
      width: 19px;
      height: 23px;
      background-image: var(--img-ecu);
      background-size: 19px 23px;
      margin-right: 10px;
    }
  }
  .ul-header-ul-link {
    a {
      font-size: fix-font-size-hack(1rem);
      color: var(--ul-color-black);
      text-decoration: none;
      transition: color 0.5s ease, border-color 0.5s ease;
      &:hover {
        text-decoration: underline;
      }
      &:focus-visible {
        outline-offset: 3px;
      }
      &:not(:first-child) {
        margin-left: 3px;
        padding-left: 5px;
        border-left: 1px var(--ul-color-black) solid;
      }
    }
  }
  .ul-header-title-holder {
    min-height: fix-font-size-hack(3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: title;
    align-self: center;
    margin-right: fix-font-size-hack(1rem);
    @media (max-width: $ul-mobile-width) {
      margin-right: 0;
    }
  }
  .ul-header-title {
    flex: 0 0 25%;
    font-weight: 700;
    text-decoration: none;
    color: var(--ul-color-black);
    line-height: 1.1em;
    font-size: fix-font-size-hack(1.5rem);
    transition: color 0.5s ease;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: $ul-tablet-width) {
      font-size: fix-font-size-hack(1.375rem);
    }
    @media (max-width: $ul-tablet-small) {
      font-size: fix-font-size-hack(1.125rem);
    }
  }

  .ul-header-tools {
    grid-area: tools;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }
}

// Affichage mobile
/*
@mixin mobile-menu {
  /*
  .ul-header .ul-header-main {
    &:before {
      position: fixed;
      display: block;
      content: "";
      top: 8px;
      left: 0;
      height: calc(100vh - 8px);
      overflow: hidden;
      transition: width 0.5s ease;
      background-color: var(--ul-color-black);
      width: 0;
    }
    grid-template-columns: auto auto;
    grid-template-areas:
      "ecu ecu"
      "title tools";
    grid-column-gap: fix-font-size-hack(1rem);
    .ul-header-secondary-nav,
    .ul-header-main-nav,
    .ul-language-switcher {
      display: none;
    }
  }
  */
/*
  .ul-header .ul-header-mobile-menu {
    padding-top: fix-font-size-hack(3rem);
    padding-bottom: fix-font-size-hack(3rem);
    background-color: var(--ul-color-black);
    position: absolute;
    height: calc(100vh - 8px);
    overflow-y: auto;
    display: none;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    width: 100%;
    z-index: 1;
    &.open {
      display: block;
      animation-name: ul-header-mobile-fadeIn;
    }
    &:not(.open).remove {
      display: block;
      animation-name: ul-header-mobile-fadeOut;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: fix-font-size-hack(2rem);
    }
  }

  //Mobile main menu
  .ul-header-main-nav {
    //align-self: flex-start;

    ul {
      flex-direction: column;
      gap: fix-font-size-hack(0.7rem);
    }
  }
  .ul-link--in-mobile-main-nav {
    display: flex;
    padding-top: 0;

    a {
      font-size: fix-font-size-hack(1.5rem);
      font-weight: 400;
      color: var(--ul-color-white);
      padding-bottom: fix-font-size-hack(0.3rem);
      text-decoration: none;

      &[aria-current="page"] {
        background: linear-gradient(
            90deg,
            var(--ul-color-white),
            var(--ul-color-white)
          )
          no-repeat left bottom / 0 4px;
        background-size: 100% 4px;
        background-position-x: left;
      }
    }
  }

  //Mobile secondary menu
  .ul-header-secondary-nav {
    //align-self: flex-start;

    ul {
      flex-direction: column;
      gap: fix-font-size-hack(0.7rem);
    }
  }
  .ul-link--in-mobile-secondary-nav {
    a {
      color: var(--ul-color-white);
      font-size: fix-font-size-hack(1.25rem);
      text-decoration: none;
    }
  }

  //Mobile utility menu - Language switcher
  .ul-mobile-language-switcher {
    ul {
      display: flex;
      gap: fix-font-size-hack(1rem);
      list-style: none;
      margin: fix-font-size-hack(1rem) 0;
      padding: 0;
      color: var(--ul-color-white);
      font-size: fix-font-size-hack(1.25rem);
    }
  }

  .ul-link--in-mobile-language-switcher {
    span.current-language {
      font-weight: 700;
      text-decoration: underline;
    }

    a {
      color: var(--ul-color-white);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Animations reliées au moteur de recherche
@keyframes ul-header-search-fadeIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 220px;
  }
}

@keyframes ul-header-search-fadeOut {
  from {
    max-height: 220px;
  }
  to {
    max-height: 0;
  }
}

// Animations reliées au menu mobile
@keyframes ul-header-mobile-fadeIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes ul-header-mobile-fadeOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

// Changements de couleur une fois le menu mobile ouvert
/*
@mixin mobile-menu-colors {
  display: block;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*
  .ul-header .ul-header-main {
    &:before {
      width: 100%;
    }

    .ul-header-ul-link a,
    .ul-header-title {
      color: var(--ul-color-white);
    }
    .ul-header-ul-link a:not(:first-child) {
      border-color: var(--ul-color-white);
    }
    .ul-header-menu-trigger {
      &:before,
      &:after {
        background-color: var(--ul-color-white);
      }
      & > .ul-header-menu-trigger-midbar {
        &:before,
        &:after {
          background-color: var(--ul-color-white);
        }
      }
    }
    .ul-header-search-trigger {
      i {
        transition: filter 0.5s ease;
        filter: invert(1);
      }
      &:hover,
      &:active {
        background-color: var(--ul-color-white);
        i {
          transition: none;
          filter: none;
        }
      }
    }
  }
  */
/*
}
*/
