// Styles
/*
Icônes utilisées dans l'en-tête et le pied de page. Utilise des SVG intégrés. Permet d'économiser sur les requêtes serveur pour des données récurrentes.
*/
// Crée des variables CSS en utilisant le scope global :root
// Le sélecteur :root pointe sur la balise <html>
:root {
  --img-dropdown-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.811' height='7.797' viewBox='0 0 13.811 7.797'%3E%3Cpath d='M8.268,16.029a.375.375,0,0,1,.528,0l5.729,5.729,5.733-5.729a.375.375,0,0,1,.528.528l-5.995,6a.367.367,0,0,1-.528,0l-5.995-6A.375.375,0,0,1,8.268,16.029Z' transform='translate(-7.607 -15.368)' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E%0A");
}

// Règles générales pour toutes les icônes
[class^="ul-i-"],
[class*=" ul-i-"] {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

// Icône du bouton de recherche
.ul-i-search {
  background-size: 16px 48px;
  background-position: bottom left;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.61 57.78'%3E%3Cg id='a'%3E%3Ccircle cx='7.75' cy='46.93' r='7' fill='none' stroke='%23000' stroke-miterlimit='4' stroke-width='1.5'/%3E%3Cline x1='18.08' y1='57.25' x2='12.41' y2='51.59' fill='none' stroke='%23000' stroke-miterlimit='4' stroke-width='1.5'/%3E%3C/g%3E%3Cg id='b'%3E%3Cpath d='m1.53.71l15.77,15.77' fill='none' stroke='%23000' stroke-width='2'/%3E%3Cpath d='m17.3.71L1.53,16.47' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
}
