@import "./_variables.scss";

.ul-header-menu-sous-unite-container {
  background-color: $color-black;
  color: $color-white;
}

.ul-header-menu-sous-unite-content {
  display: flex;
  align-items: center;
  column-gap: fix-font-size-hack(3rem);

  button {
    display: none;
    border: none;
    background-color: $color-black;
    border-left: 1px $color-white solid;
    border-right: 1px $color-white solid;
    flex: 0 0 3rem;
    align-items: center;
    justify-content: center;
    &:before {
      display: block;
      content: "";
      width: 16px;
      height: 8px;
      background-image: var(--img-dropdown-arrow);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
    }
    &:hover {
      background-color: $color-white;
      &:before {
        filter: none;
      }
    }
    &:focus-visible,
    &:focus {
      outline-offset: 2px;
      outline-color: $color-black;
      background-color: $color-white;
      &:before {
        filter: none;
      }
    }
    &[aria-expanded="true"] {
      &:before {
        transform: scaleY(-1);
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 0.5rem;
  }
}

.ul-link--in-sous-unite-content {
  margin: 0;
  padding: 0;

  a {
    display: block;
    color: $color-white;
    text-decoration: none;
    font-size: fix-font-size-hack(0.875rem);
    padding: fix-font-size-hack(0.56rem);

    &[aria-current="page"] {
      text-decoration: underline;
    }

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }

    &:focus-visible {
      outline-offset: fix-font-size-hack(0.19rem);
      background-color: $color-white;
      color: $color-black;
    }
  }
}

.ul-header-menu-sous-unite-link {
  color: $color-white;
  font-size: fix-font-size-hack(1rem);
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline-offset: 3px;
  }
}

@media (max-width: $ul-mobile-width) {
  .ul-header-menu-sous-unite-content {
    button {
      display: flex;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    flex-direction: column;
    align-items: stretch;
    nav {
      position: absolute;
      background-color: black;
      left: 0;
      right: 0;
      top: 100%;
      overflow: hidden;
      display: none;
      &.open {
        display: block;
        animation: ul-header-sous-unite-fadeIn 0.5s;
      }
      &:not(.open).remove {
        display: block;
        animation: ul-header-sous-unite-fadeOut 0.5s;
      }

      ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
    }
  }
  .ul-header-menu-sous-unite-link {
    padding: fix-font-size-hack(0.5rem) 0;
  }
  .ul-link--in-sous-unite-content {
    width: 100%;
    border-top: 1px $color-gray-medium solid;

    a {
      &:focus-visible {
        outline-offset: fix-font-size-hack(-0.35rem);
      }
    }
  }
}

// Animations reliées au moteur de recherche
@keyframes ul-header-sous-unite-fadeIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes ul-header-sous-unite-fadeOut {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}
