// Importation du fichier global
@import "./abstracts/_global_abstracts.scss";

// Styles
.ul-header.ul-university-header {
  .ul-header-ul-link-holder {
    @media (max-width: $ul-mobile-small) {
      align-self: center;
    }
    &:before {
      display: none;
      @media (max-width: $ul-mobile-small) {
        display: block;
      }
    }
  }
  .ul-header-ul-link {
    .ul-header-logo {
      width: 140px;
      padding: 8px;
      .ul-logo-fill {
        fill: var(--ul-color-black);
        transition: fill 0.5s ease;
      }
      @media (max-width: $ul-mobile-small) {
        display: none;
      }
    }
    @media (min-width: #{$ul-mobile-small + 1px}) {
      span {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        width: 1px;
        word-wrap: normal !important;
        word-break: normal;
      }
    }
  }

  .ul-header-main {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "ecu mainnav secondnav tools";
    row-gap: 0;
    column-gap: fix-font-size-hack(4rem);
    padding-top: 8px;
    padding-bottom: 6px;

    @media (max-width: 1805px) {
      grid-template-columns: 150px 1fr 150px;
      grid-template-areas:
        "nothing secondnav secondnav"
        "ecu mainnav tools";
      row-gap: 0;
      column-gap: fix-font-size-hack(3rem);
    }

    @media (max-width: $ul-mobile-width) {
      grid-template-columns: auto auto;
      grid-template-areas: "ecu tools";
      row-gap: 0;
      column-gap: 0;
    }
  }
}

// Changements de couleur une fois le menu mobile ouvert
@media (max-width: $ul-mobile-width) {
  .ul-nav-mobile-open {
    .ul-header.ul-university-header {
      .ul-header-ul-link {
        .ul-header-logo {
          .ul-logo-fill {
            fill: var(--ul-color-white);
          }
        }
      }
    }
  }
}
