/**
 * Define typography styles for headings, paragraph, list, etc.
 */

// Import all abstracts
@import "../abstracts/_abstracts.scss";

// Styles
html {
  font-size: 100%;
  line-height: 1.375;
  scroll-behavior: smooth;
}

body {
  color: $color-black;
  font-family: "Source Sans 3", "Source Sans Pro", SourceSansPro, -apple-system,
    Roboto, Segoe UI, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

a {
  color: $color-links-default;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: $color-links-active;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  // Titles (except h6) have more compact line spacing
  line-height: 1.2;
  margin: 0 0 fix-font-size-hack(1.5em) 0;
}

h1 {
  font-size: fix-font-size-hack(2.5em);
}

h2 {
  font-size: fix-font-size-hack(2em);
}

h3 {
  font-size: fix-font-size-hack(1.75em);
}

h4 {
  font-size: fix-font-size-hack(1.5em);
}

h5 {
  font-size: fix-font-size-hack(1.25em);
}

h6 {
  font-size: fix-font-size-hack(1em);
  font-weight: 400;
  line-height: 1.375;
  margin: 0 0 fix-font-size-hack(1.5em) 0;
}

p {
  font-weight: 400;
  line-height: 1.375;
  margin: 0 0 fix-font-size-hack(1.5em) 0;
}

ul,
ol {
  margin: 0 0 fix-font-size-hack(1.5em) 0;
  padding: 0 0 0 fix-font-size-hack(1.25em);
  list-style: disc;

  // Nested lists should have a space before
  ul,
  ol {
    margin: fix-font-size-hack(1em) 0 0 0;
  }
}

ul {
  li {
    list-style-type: disc;
  }
}

li {
  line-height: 1.375;
  margin: 0 0 fix-font-size-hack(1em) 0;
}

button {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: initial;
  }
}
