/**
 * Add customizable settings to help implementing to all website.
 */

/**
 * Define the responsive way to resize the website.
 *
 * With the fixed method, the website will have multiple pre-defined breakpoints
 * With the fluid method, the website will always use 100% of the available space.
 *
 * @usage $website-container-max-width: "fixed";
 * @usage $website-container-type: "fluid";
 */
$website-container-type: "fixed";

/**
 * Define the responsive way to resize the website.
 *
 * With the fixed method, the website will have multiple pre-defined breakpoints
 * With the fluid method, the website will always use 100% of the available space.
 *
 * @usage $website-container-max-width: 1940px;
 * @usage $website-container-max-width: 1600px;
 * @usage $website-container-max-width: 1280px;
 */
$website-container-max-width: 1600px;

/**
 * If true, add some styles to style the submenu.
 *
 * @usage $header-with-submenu: false;
 * @usage $header-with-submenu: true;
 */
$header-with-submenu: true;

/**
 * If true, remove some styles in order to always keep the mobile.
 *
 * @usage $menu-is-always-mobile: false;
 * @usage $menu-is-always-mobile: true;
 */
$menu-is-always-mobile: false;

/**
 * Activate some styles for a better header on mobile.
 *
 * @usage $better-header-design: false;
 * @usage $better-header-design: true;
 */
$better-header-design: false;

/**
 * Activate some styles for a better footer on mobile.
 *
 * @usage $better-footer-design: false;
 * @usage $better-footer-design: true;
 */
$better-footer-design: true;

/**
 * Activate some styles to help with debugging.
 *
 * @usage $debug: false;
 * @usage $debug: true;
 */
$debug: false;

/**
 * Fixes the font-size hack for websites using 62.5% font-sizing to use em as pixel.
 * Change $font-size-hack to true if your website use the font-size hack.
 *
 * @param {Length} $value - The value to fix.
 * @param {Boolean} [$font-size-hack: false] - Whether the font-size hack is used on the website.
 * @return {Length} - The fixed value.
 *
 * @usage fix-font-size-hack(1em, false) => 1em
 * @usage fix-font-size-hack(1em, true) => 1.6em
 * @usage fix-font-size-hack(1rem, false) => 1rem
 * @usage fix-font-size-hack(1rem, true) => 1.6rem
 */
$font-size-hack: false;
@function fix-font-size-hack($value, $hack: $font-size-hack) {
  @if $hack {
    // Multiply $value by 1.6 to scale 62.5% back to 100%
    @return $value * 1.6;
  } @else {
    // Leave $value at 100%
    @return $value;
  }
}
