/**
 * Define basic breakpoints that can be used by any website.
 * Always use mobile-first when using breakpoints.
 */

// Approximatelly phone landscape
$breakpoint-sm: 576px;

// Approximatelly tablet portrait
$breakpoint-md: 768px;

// Approximatelly tablet landscape
$breakpoint-lg: 992px;

// Approximatelly small desktop
$breakpoint-xl: 1200px;

// Approximatelly medium desktop
$breakpoint-xxl: 1400px;

// Approximatelly large desktop
$breakpoint-sl: 1600px;
