/**
 * Define basic colors that can be used by any website.
 */

// Lightness: 100%
$color-white: #ffffff;

// Lightness: 93%
$color-gray-lightest: #ededed;

// Lightness: 83%
$color-gray-lighter: #d4d4d4;

// Lightness: 70%
$color-gray-light: #b3b3b3;

// Lightness: 50%
$color-gray-medium: #808080;

// Lightness: 20%
$color-gray-dark: #333333;

// Lightness: 15%
$color-gray-darker: #262626;

// Lightness: 7%
$color-gray-darkest: #121212;

// Lightness: 0%
$color-black: #000000;

// UL colors from the logo
$color-ul-red: #e30513;
$color-ul-yellow: #ffc103;

// Accessible links color
$color-links-default: #0172bf;
$color-links-default-visited: #707070;
$color-links-default-hover: #0172bf;
$color-links-light: #b2e0ff;
$color-links-light-visited: #bfbfbf;
$color-links-light-hover: #b2e0ff;

// Gray
$color-gray-100: #EDEDED;
$color-gray-200: #DCDCDC;
$color-gray-300: #CACACA;
$color-gray-400: #B2B2B2;
$color-gray-500: #7C7C7C;
$color-gray-600: #515151;
$color-gray-700: #3D3D3D;
$color-gray-800: #282828;

// Blue
$color-blue-100: #E5F5FF;
$color-blue-200: #CCEBFF;
$color-blue-300: #B2E0FF;
$color-blue-400: #80CFF2;
$color-blue-500: #41B2FF;
$color-blue-600: #0099FF;
$color-blue-700: #0172BF;
$color-blue-800: #004D80;

// Green
$color-green-100: #EDF6F2;
$color-green-200: #DCECE5;
$color-green-300: #CAE3D8;
$color-green-400: #A8D1BF;
$color-green-500: #7DB99E;
$color-green-600: #51A27E;
$color-green-700: #3D795E;
$color-green-800: #29513F;

// Yellow
$color-yellow-100: #FFF9E5;
$color-yellow-200: #FFF3CC;
$color-yellow-300: #FFECB2;
$color-yellow-400: #FFE081;
$color-yellow-500: #FFD042;
$color-yellow-600: #FFC103;
$color-yellow-700: #BF9002;
$color-yellow-800: #806101;

// Orange
$color-orange-100: #FFF6EB;
$color-orange-200: #FEEED9;
$color-orange-300: #FDE5C5;
$color-orange-400: #FAD4A1;
$color-orange-500: #F9BE70;
$color-orange-600: #F7A941;
$color-orange-700: #B97E30;
$color-orange-800: #7D5520;

// Red
$color-red-100: #FCE5E7;
$color-red-200: #FACDCF;
$color-red-300: #F7B3B7;
$color-red-400: #F2828A;
$color-red-500: #EA434E;
$color-red-600: #E30513;
$color-red-700: #AA030E;
$color-red-800: #720209;

// Burgundy
$color-burgundy-100: #F1E5EB;
$color-burgundy-200: #E4CCD8;
$color-burgundy-300: #D7B2C4;
$color-burgundy-400: #BD809E;
$color-burgundy-500: #9C406D;
$color-burgundy-600: #7B003D;
$color-burgundy-700: #5C002D;
$color-burgundy-800: #3D001E;

// Purple
$color-purple-100: #F0E9F1;
$color-purple-200: #E2D5E4;
$color-purple-300: #D4C0D6;
$color-purple-400: #B896BB;
$color-purple-500: #A47BA8;
$color-purple-600: #702E78;
$color-purple-700: #37173C;
$color-purple-800: #1C0A1E;
