// Importation du fichier global regroupant tous les importations
@import "./abstracts/_globals_abstracts.scss.scss";

// Styles
footer.ulaval-footer {
    background-color: var(--ul-color-white);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
    z-index: 2;
    :focus {
        outline: 1px solid;
    }
    .ulaval-footer-contact,
    .ulaval-footer-nav,
    .ulaval-footer-logos {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.22rem;
        @media(max-width: $ul-tablet-small) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        @include ulContainer;
        padding-bottom: 0;
        @include ulFooterPaddings;

        .ulaval-footer-address {
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                left: -25px;
                display: block;
                content: "";
                width: 17px;
                height: 24px;
                background-image: var(--img-footer-map);
                background-size: contain;
            }
            p {
                margin: 0;
                margin-bottom: 0.5rem;
                font-size: 0.875rem;
                &.ulaval-footer-address-unit {
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }
        }
        .ulaval-footer-mail-social,
        .ulaval-footer-logos {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media(max-width: $ul-tablet-small) {
                flex: auto;
                gap: 2rem;
            }
        }
        .ulaval-footer-social {
            ul {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                margin: 0;
                padding: 0;
                gap: 0.6rem;
                flex-wrap: wrap;
                @media(max-width: $ul-tablet-small) {
                    justify-content: flex-start;
                }
                li a {
                    display: block;
                    padding: 0;
                    line-height: 1px;
                    background-color: var(--ul-color-white);
                    transition: background-color 0.3s ease;
                    i {
                        transition: filter 0.3s ease;
                    }
                    &:hover {
                        background-color: var(--ul-color-black);
                        i {
                            filter: invert(1);
                        }
                    }
                    &:focus {
                        outline-color: var(--ul-color-black);
                    }
                }
            }

        }
        .ulaval-footer-nav-list {
            display: flex;
            gap: 4.5em;
            @media(max-width: $ul-mobile-links-stack) {
                flex-direction: column;
                gap: 2.5em;
                align-items: flex-start;
              }
            &>ul {
              display: flex;
              margin: 0;
              padding: 0;
              list-style: none;
              gap: 4.5rem;
              font-size: 0.875rem;
              @media(max-width: $ul-tablet-small) {
                flex-direction: column;
                gap: 2.5em;
              }
              &>li {
                font-weight: 600;
                &>a {
                    text-decoration: none;
                    font-weight: 600;
                    color: var(--ul-color-black);
                }
                ul {
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-top: 0.5em;
                    li {
                        margin-bottom: 0.2em;
                        a {
                            color: var(--ul-color-black);
                            text-decoration: none;
                        }
                    }
                }
                a[href]:hover {
                    text-decoration: underline;
                }
                a[href]:focus-visible {
                    outline-offset: 3px;
                }
                a[aria-current="page"] {
                    text-decoration: underline;
                }
              }
            }

            .ulaval-footer-nav-emergency {
                font-size: 0.875rem;
                a {
                    color: var(--ul-color-black);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &:focus-visible {
                        outline-offset: 2px;
                    }
                }
                a.ulaval-footer-emergency {
                    color: var(--ul-color-red);
                    font-weight: 700;
                    text-transform: uppercase;
                    &:focus-visible {
                        outline-offset: 2px;
                        outline-color: var(--ul-color-black);
                    }
                }
                a.ulaval-footer-newsletter {
                    display: block;
                    border: 1px var(--ul-color-black) solid;
                    color: var(--ul-color-black);
                    background-color: var(--ul-color-white);
                    padding: 1em 1.5em;
                    font-size: 1rem;
                    text-decoration: none;
                    transition: color 0.3s ease, background-color 0.3s ease;
                    margin-bottom: 2rem;
                    text-align: center;
                    &:hover {
                        color: var(--ul-color-white);
                        background-color: var(--ul-color-black);
                    }
                    &:focus-visible {
                        outline-offset: 5px;
                    }
                }
            }

        }
    }
    .ulaval-footer-nav {
        padding-top: 3rem;
    }
    .ulaval-footer-contact {
        padding-top: 4rem;
    }
    .ulaval-footer-copyright {
        margin-top: 3rem;
        background-color: var(--ul-color-black);
        color: var(--ul-color-white);
        display: flex;
        gap: 1rem;
        div {
            @include ulContainer;
            padding-top: 1.14rem;
            padding-bottom: 1.14rem;
            @include ulFooterPaddings;
        }
        p {
            display: flex;
            column-gap: 1rem;
            row-gap: 0.3rem;
            color: var(--ul-color-copy);
            font-size: 0.75rem;
            margin: 0;
            flex-wrap: wrap;
            &:first-child span:nth-child(2) {
                position: relative;
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    right: -0.5rem;
                    border-right: 1px var(--ul-color-white) solid;
                }
            }
            &:last-child {
                a {
                    text-decoration: none;
                    color: var(--ul-color-white);
                    &:hover {
                        text-decoration: underline;
                    }
                }
                span:not(:last-child) {
                    position: relative;
                    &:after {
                        display: block;
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        right: -0.5rem;
                        border-right: 1px var(--ul-color-white) solid;
                    }
                }
            }
        }

    }
    .ulaval-footer-logos {
        padding-top: 3rem;
        @media(max-width: $ul-tablet-small) {
            flex-direction: column;
            gap: 3rem;
        }
        &:not(:where(.ulaval-footer-logos-agreements)) {
            justify-content: flex-end;
        }
        .ulaval-footer-logo-unite {
            width: 237px;
        }
        .ulaval-footer-logo {
            width: 140px;
        }
    }
}

a.ulaval-footer-questions {
    display: block;
    border: 1px var(--ul-color-black) solid;
    color: var(--ul-color-white);
    background-color: var(--ul-color-black);
    padding: 1em 1.5em;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    &:hover {
        color: var(--ul-color-black);
        background-color: var(--ul-color-white);
    }
    &:focus,
    &:focus-visible {
        outline-offset: 5px;
        outline-color: var(--ul-color-black);
    }
}