// Importation du fichier global
@import "./abstracts/_global_abstracts.scss";

.ulaval-header-menu-sous-unite-container {
    background-color:var(--ul-color-black);
    color:var(--ul-color-white);
}

.ulaval-header-menu-sous-unite-content{
    @include ul-container;
    @include ul-paddings;
    display:flex;
    align-items:center;
    column-gap:ul-scale-units(3rem);
    .ulaval-header-menu-sous-unite-link{
        color:var(--ul-color-white);
        font-size:ul-scale-units(1rem);
        font-weight:700;
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
        &:focus-visible{
            outline-offset:3px;
        }
    }
    button{
        display:none;
        color:var(--ul-color-white);
        background-color:var(--ul-color-black);
        border:none;
        font-size:ul-scale-units(1rem);
        font-weight:700;
        text-decoration:none;
        font-family: var(--ul-font);
        align-items:center;
        margin: 3px 0;
        padding:calc(ul-scale-units(0.53rem) - 3px);
        padding-left:0;
        &:before{
            display: inline-block;
            width: 16px;
            height: 8px;
            content: "";
            background-image: var(--img-dropdown-arrow);
            background-size: 16px 8px;
            margin-right: 8px;
            filter:invert(1);
        }
        &:hover{
            text-decoration:underline;
        }
        &:focus-visible{
            outline-offset:0;
        }
    }
    ul{
        display:flex;
        align-items:center;
        list-style:none;
        margin:0;
        padding:0;
        column-gap:0.5rem;
        li{
            margin:0;
            padding:0;
            a{
                display:block;
                color:var(--ul-color-white);
                text-decoration:none;
                font-size:ul-scale-units(0.875rem);
                padding:ul-scale-units(0.56rem);
                &[aria-current="page"]{
                    text-decoration:underline;
                }
                &:hover{
                    background-color:var(--ul-color-white);
                    color:var(--ul-color-black);
                }
                &:focus-visible{
                    outline-offset:ul-scale-units(0.19rem);
                    background-color:var(--ul-color-white);
                    color:var(--ul-color-black);
                }
            }
            &:first-child{
                display:none;
            }
        }
    }
}

@media (max-width: $ul-mobile-width) {
    .ulaval-header-menu-sous-unite-content{
        .ulaval-header-menu-sous-unite-link{
            display:none;
        }
        button{
            display:flex;
        }
        flex-direction:column;
        align-items:flex-start;
        nav{
            position: absolute;
            background-color: black;
            left: 0;
            right: 0;
            top: 100%;
            overflow: hidden;
            display:none;
            &.open {
                display: block;
                animation: ulaval-header-sous-unite-fadeIn 0.5s;
            }
            &:not(.open).remove {
                display: block;
                animation: ulaval-header-sous-unite-fadeOut 0.5s;
            }
        }
        ul{
            flex-direction:column;
            align-items:flex-start;
            width:100%;
            li{
                width:100%;
                border-top:1px var(--ul-color-grey) solid;
                &:first-child{
                    display:block;
                }
                a{
                    @include ul-container;
                    @include ul-paddings;
                    &:before{
                        content:"";
                        display:inline-block;
                        padding-left:24px;
                    }
                    &:focus-visible{
                        outline-offset:ul-scale-units(-0.35rem);
                    }
                }
            }
        }
    }
}

// Animations reliées au moteur de recherche
@keyframes ulaval-header-sous-unite-fadeIn {
    from {
        max-height: 0;
    }
    to {
        max-height: 1000px;
    }
}

@keyframes ulaval-header-sous-unite-fadeOut {
    from {
        max-height: 1000px;
    }
    to {
        max-height: 0;
    }
}