//Dimensions standard. La première variable peut être ajustée en fonction des dimensions générales de votre projet.
$ul-desktop-large-width:1792px; // Largeur maximale du site (contenu régulier centré à partir de cette taille)
$ul-paddingThreshold:calc($ul-desktop-large-width + 8rem); // Largeur maximale du site + padding régulier
$ul-desktop-small-width:1536px; // Réduction de la taille de certains textes d'en-tête pour les petits desktops
$ul-tablet-width:1366px; // Affichage en mode tablette (début du menu mobile)
$ul-mobile-width:1280px; //bascul en mode mobile
$ul-mobile-links-stack:992px; //Breakpoint pour séparer les liens des mesures d'urgence dans le pied de page
$ul-tablet-small:768px; // Affichage en mode tablette réduite (réduction des marges principales)
$ul-mobile-small:428px; // Affichage en mode mobile (réalignement des icônes de médias sociaux)

//Couleurs par défaut ULaval
:root{
    --ul-color-red:#E30513;
    --ul-color-gold:#FFC103;
    --ul-color-white:#fff;
    --ul-color-black:#000;
    --ul-color-grey:#707070;
    --ul-font:'Source Sans Pro', sans-serif;
}